{% extends "shared/layout.tmpl" %}

{% block title %}
  {{ post.title }}
{% endblock %}

{% block content %}
  <h3>{{ post.title }}</h3>
  {{ content }}
  <a href="{{ url_for('posts') }}">Index</a>
{% endblock %}
