/* Colors */
$red-color: #f03838;
$black-color: lighten(black, 20%);
$white-color: darken(white, 25%);
$lighter-white-color: lighten($white-color, 10%);

/* Functional Layouts */
$footer-height: 265px;


/* Over-write theme rules */
body {
    color: $black-color;
}

p {
    line-height: 1.8;
}

a {
    color: $red-color;
    text-decoration: none;
    &:hover, &:focus {
        color: $red-color;
        text-decoration: none;
        border-bottom: 1px dashed $red-color
    }
}

/* Pagination */
.pagination {
    width: 92%;
    position: relative;
    left: 4%;
    font-weight: 600;
}

.newer-link {
    color: $red-color;
}

.older-link {
    color: $red-color;
}

/* Generic CSS */
#wrapper {
    height: auto;
    min-height: 100%;
    margin-bottom: -$footer-height;

    &:after {
        content: "";
        display: block;
        height: $footer-height;
    }
}

.text-center { text-align: center; }

/* Header-related CSS */
.header {
    margin: 100px 0px 35px;
}

.site-title-wrapper {
    display: table;
    margin: 0 auto;
    a {
        background: $red-color;
        color: #FEFEFE;
    &:hover {
        background: $black-color;
        border-bottom: 0;
        }
    }
}

.site-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
}

.site-buttons {
    float: left;
    font-size: 1.2em;
    font-weight: 300;
}

.button-square {
    float: left;
    background: $red-color;
    color: $white-color;
    margin-left: 10px;
    padding: 5px 7px;
}

/* Footer-related CSS */
.footer {
    background: $black-color;
    height: $footer-height;
    overflow: auto;
}

.footer-copyright {
    color: $white-color;
    font-weight: 300;
    text-align: center;
    font-size: 0.8em;
    padding-top: 80px;
    margin: 0 auto 35px;
}

.footer-copyright a {
    color: $lighter-white-color;
    font-weight: 700;
    &:hover {
        color: $lighter-white-color;
        border-bottom: 1px dashed $lighter-white-color;
    }
}

/* Post-related CSS Rules */
.post-header {
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 2px solid $black-color;
}

.post-title {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 1.5em;
}
